{{ define "main" }}

<section class="site-project-header">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-12">
        <div class="site-project-header-content">
          <h1 class="span_color">
            {{ .Title | safeHTML }}
          </h1>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- TODO: remove mt-0 when dropdowns implemented -->
<section class="site-project mt-0" id="project">
  <div class="container">
    <div class="row">
      <!-- TODO: Dropdowns go here-->
    </div>
    <div class="row">
      {{ range (.Paginator 9).Pages }}
      <div class="col-lg-4 col-md-10 mx-auto">
        <div class="site-project-item">
          <a href="{{ .Permalink }}">
          <div class="site-project-item-thumb">
            <img src="{{ .Params.Image | absURL }}" alt="project-thumb">
          </div>
          <div class="site-project-item-content">
            <span>{{ delimit .Params.category ", " }}</span>
            <h4>{{ .Title }}</h4>
            <a href="{{ .Permalink }}" class="read-more">{{ .Date.Format "January 2, 2006" }}</a>
          </div>
        </a>
        </div>
      </div>
      {{ end }}
      <div class="col-12">
        <div class="site-project-pagination">
          {{ template "_internal/pagination.html" . }}
        </div>
      </div>
    </div>
  </div>
</section>

{{ end }}
