// html{
//   scroll-behavior: smooth;
// }

body {
  background: $body-color;
}

.section-title{
  margin-bottom: 40px;
  @include desktop{
    text-align: center;
  }
  h2{
    font-weight: 300;
    letter-spacing: 2px;
    margin-bottom: 15px;
    @include desktop{
      font-size: 40px;
    }
  }
  p{
    font-size: 20px;
    font-weight: 300;
  }
}

.form-control{
  background: transparent;
  border-radius: 0;
  margin-bottom: 30px;
  padding: 0 0 10px 0;
  border-width: 0 0 3px 0;
  border-bottom-color: #6A08B8;
  color: black !important;
  font-weight: 400;
  letter-spacing: 1px;
  -webkit-appearance: none;
  height: 42px;
  &:focus{
    box-shadow: none;
    background: transparent;
    border-color: $text-color;
  }
  &::placeholder {
    color: black;
  }
}

select.form-control{
  height: 42px !important;
  position: relative;
}

.select-wrapper{
  position: relative;
  &::before{
    content: '';
    position: absolute;
    width: 16px;
    height: 10px;
    background: url("#{$base_url}/images/angle-down-select.svg");
    background-size: contain;
    background-repeat: no-repeat;
    right: 15px;
    top: 50%;
    transform: translateY(-80%);
  }
}

textarea.form-control{
  height: auto;
}

.partner-logos {
  width: 70%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;

  @include desktop {
    width: 55%;
  }
  @include tablet {
    width: 40%;
  }
}

.about-icons {
  margin-right: 18px;
  font-size: 40px;
}

.about-icon-top {
  padding-top: 20px;

}
// this is an easter egg #3, post in the web team channel if you found me 😁

.member_ul {
  list-style-type: none;
  .li_bullet {
    &::before {
      content: "";
      height: 24px;
      width: 24px;
      display: inline-block;
      background-image: url("#{$base_url}/images/icons/sparkles.svg");
      background-size: contain;
      background-repeat: no-repeat;
      margin-right: 8px;
      margin-top: 4px;
    }
  }

  li {
    padding: 4px;
    color: $black;
    font-size: var(--bigger-paragraph);
    font-weight: 300;

    p {
      font-size: var(--bigger-paragraph);
    }
  }
}

.home-quote-arrow {
  font-size: 35px;
}

// this is an easter egg #3, post in the web team channel if you found me 😁

.border-primary {
  border-color: var(--darker-purple) !important;
}

.content {
  & > p {
    font-size: var(--bigger-paragraph);
  }
  & > * {
    & a { 
      &:visited, &:link {
        font-weight: 400;
        color: var(--darker-purple);
      }
      &:active, &:hover {
        color: var(--lighter-purple);
      }
    }
  }
}
