// html{
//   scroll-behavior: smooth;
// }

body {
  background: $body-color;
}

.section-title{
  margin-bottom: 70px;
  @include desktop{
    text-align: center;
  }
  h2{
    font-weight: 300;
    letter-spacing: 2px;
    margin-bottom: 15px;
    @include desktop{
      font-size: 40px;
    }
  }
  p{
    font-size: 20px;
    font-weight: 300;
  }
}

.form-control{
  background: transparent;
  border-radius: 0;
  margin-bottom: 30px;
  padding: 0 0 10px 0;
  border-width: 0 0 3px 0;
  border-bottom-color: #6A08B8;
  color: black !important;
  font-weight: 400;
  letter-spacing: 1px;
  -webkit-appearance: none;
  height: 42px;
  &:focus{
    box-shadow: none;
    background: transparent;
    border-color: $text-color;
  }
  &::placeholder {
    color: black;
  }
}

select.form-control{
  height: 42px !important;
  position: relative;
}

.select-wrapper{
  position: relative;
  &::before{
    content: '';
    position: absolute;
    width: 16px;
    height: 10px;
    background: url('../images/angle-down-select.svg');
    background-size: contain;
    background-repeat: no-repeat;
    right: 15px;
    top: 50%;
    transform: translateY(-80%);
  }
}

textarea.form-control{
  height: auto;
}

.partner-logos {
  width: 70%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;

  @include desktop {
    width: 65%;
  }
  @include tablet {
    width: 50%;
  }
}

.about-icons {
  margin-right: 18px;
  font-size: 40px;
}

.about-icon-top {
  padding-top: 20px;

}
// this is an easter egg #3, post in the web team channel if you found me 😁