//site color variables
$body-color: #fff;
$primary-color: #00C7D3;
$secondary-color: #000000;
$text-color: #9D9EA5;
$text-color-dark: #00113E;
$site-ease: cubic-bezier(0.36, 0.03, 0, 0.91);
$gray: #F7F9FF;
$dark-gray: #646569;

// solid colors
$white: #fff;
$black: #000;

// Font Variables
$primary-font: 'Josefin Sans', sans-serif;
$secondary-font: 'Montserrat', sans-serif;

$gradient-p: #7603d0;
$gradient-s: #00C7D3;
// CSS variables
:root {
  --gradient-primary : #{$gradient-p};
  --gradient-secondary : #{$gradient-s};
  --primary: $primary-color;
  --secondary: $secondary-color;
  --shadow-dark-1: 0 1rem 2rem rgba(0,0,0,.3);
  --shadow-light-1: 0 .5rem 1rem rgba(0,0,0,.06);
  --header-purple: #A5A6F6;
  --lighter-purple: #9747FF;
  --lighter-blue: #76ECFC;
  --darker-purple: #6A08B8;
  --darker-blue: #00C7D3;
  --bigger-paragraph: 24px;
  --section-headers: 40px;
  @include mobile {
    --section-headers: 30px;
    --bigger-paragraph: 20px;
  }
  
  
}


$main-gradient: linear-gradient( var(--gradient-primary) , var(--gradient-secondary) );
$main-inverse-gradient: linear-gradient( var(--gradient-secondary) , var(--gradient-primary) );
$lighter-gradient: linear-gradient(transparentize($gradient-p, 0.61), transparentize($gradient-p,  0.61));

.main-gradient {
  background: $main-gradient !important;
}
.main-inverse-gradient {
  background: $main-inverse-gradient !important;
}

.title-shadow {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-weight: 400 !important;
}

.white {
  $w_opposite: #000;
  $w_blue: #00C7D3;
  $w_purple: #6A08B8;
  &__color {
    &--opposite {
      &, & p {
        color: $w_opposite !important;
      }
    }
    &--blue {
      color: $w_blue !important;
    }
    &--purple {
      color: $w_purple !important;
    }
  }
  &__bg {
    &--opposite {
      background:  $w_opposite !important;
    }
    &--blue {
      background: $w_blue !important;
    }
    &--purple {
      background: $w_purple !important;
    }
  }
}

.black {
  $b_opposite: #fff;
  $b_blue: #00C7D3;
  $b_purple: #6A08B8;
  $b_light_purple: #A5A6F6;
  &__color {
    &--opposite {
      &, & p {
        color: $b_opposite !important;
      }
    }
    &--blue {
      color: $b_blue !important;
    }
    &--purple {
      color: $b_purple !important;
    }
    &--light-purple {
      color: $b_light_purple !important;
    }
  }
  &__bg {
    &--opposite {
      background:  $b_opposite !important;
    }
    &--blue {
      background: $b_blue !important;
    }
    &--purple {
      background: $b_purple !important;
    }
  }
}

.linked-text {
  &__white {
    &--blue > a {
      &:visited, &:link {
       color: #fff;
      }
      &:active, &:hover {
       color: var(--lighter-blue);
      }
    }
    &--purple > a {
      &:visited, &:link {
       color: #fff;
      }
      &:active, &:hover {
       color: var(--lighter-purple);
      }
    }
  }
  &__blue > a {
    &:visited, &:link {
      color: var(--darker-blue);
    }
    &:active, &:hover {
      color: var(--lighter-blue);
    }
  }
  &__purple > a {
    &:visited, &:link {
      font-weight: 400;
      color: var(--darker-purple);
    }
    &:active, &:hover {
      color: var(--lighter-purple);
    }
  }
}

.span_color > span {
  color: var(--darker-purple) !important;
}
