.site{
  &-library{
    $b_opposite: #fff;
    $b_blue: #00C7D3;
    $b_purple: #6A08B8;
    @extend .site-project;
    padding-top: 140px;
    @include mobile{
      padding: 70px 0;
    }
    &.details{
      padding: 150px 0 80px;
      @include tablet{
        padding: 50px 0 60px;
      }
    }
    /* Title and intro paragraph at top of page */
    &-header{
      margin-top: 100px;
      padding: 150px 0 0;
      @include mobile{
        padding: 100px 0 0;
      }
      h1{
        font-weight: 700;
        font-size: 80px;
        letter-spacing: 10px;
        margin-bottom: 20px;
        @include mobile{
          font-size: 35px;
          letter-spacing: 5px;
        }
      }
      p{
        line-height: 28.8px;
        margin-bottom: 0;
        font-size: 22px;
        font-weight: 400;
      }
      &__title,&__desc {
        text-align: center;
        @include mobile {
          text-align: left;
        }
      }
    }
    &-pagination{
      @extend .site-project-pagination;
    }
    /* Card stylings */
    &-post{
      @extend .site-project-item;
      &-thumb{
        @extend .site-project-item-thumb;
      }
      &-content{
        background-color: $b_purple;
        @extend .site-project-item-content;
        @include mobile{
          padding: 15px 25px 40px;
        }
        span{
          font-size: 14px;
          color: $b_opposite;
        }
        p{
          color: $b_opposite;
          line-height: 24px;
        }
        a.card-title{
          margin-bottom: 15px;
          color: $b_opposite;
          @include mobile{
            font-size: 20px;
          }
        }
        a.read-more{
          color: $b_opposite;
          letter-spacing: 2px;
          @include mobile{
            transform: translateY(22px);
          }
        }
      }
    }
    /* Post single page styling */
    &-details{
      padding: 120px 0 80px;
      .library-date {
        font-weight: 400;
      }
      img{
        max-width: 100%;
        margin-bottom: 20px;
      }
      .library-title{
        font-size: 40px;
      }
      .feature-image{
        margin: 20px 0 30px;
      }
      h2,h3,h4,h5,h6{
        margin-bottom: 15px;
      }
      blockquote{
        p{
          color: $text-color-dark;
          font-size: 18px;
        }
      }
      cite{
        margin-top: 10px;
        display: block;
      }
    }
  }
}
