.site-testimonial{
  background: $gray;
  padding-top: 50px;
  padding-bottom: 0px;
  overflow: hidden;
  &-item{
    background: $white;
    padding: 30px;
    margin-bottom: 30px;
    transition: all 0.3s ease-in;
    &.active{
      box-shadow: 0px 30px 45px 0px rgba(0, 0, 0, 0.05);
    }
    &.inactive{
      opacity: 0.4;
    }
    &-header{
      display: flex;
      align-items: center;
      margin-bottom: 20px;
      .thumb{
        width: 80px;
        img{
          width: 100%;
        }
        margin-right: 15px;
      }
      .person{
        h5{
          margin-bottom: 5px;
        }
        p{
          margin-bottom: 0;
          color: $dark-gray;
        }
      }
    }
    &-body{
      margin-bottom: 0;
      font-weight: 300;
    }
  }
}

.img-thumbnail{
  border: none;
  background-color: #6A08B8 !important;
}

.uppercase {
  text-transform: uppercase;
}

.member-info {
  padding-top: 15px;
}

.quote-section-title {
  margin-bottom: 45px;
  @include desktop{
    text-align: center;
  }
  h2{
    font-weight: 300;
    letter-spacing: 2px;
    margin-bottom: 15px;
    @include desktop{
      font-size: 40px;
    }
  }
  p{
    font-size: 20px;
    font-weight: 300;
  }
}

.p-5 {
  padding:1rem !important;
}