{{ "<!-- Site Hero Start -->" | safeHTML }}
<section class="site-hero" style="background-image: url('{{ .Params.hero_logo.background_image }}');">
  <div class="col-md-10">
    <div class="col-lg-6">
      <img src="{{ .Params.hero_logo.img }}" alt="{{ .Params.hero_logo.alt }}" class="home-page-logo img-fluid">
      <a href="#counter" class="site-hero-scroll scroll-to">
        <img src="images/arrow-down.svg" alt="arrow-down">
      </a>
    </div>
  </div>
</section>
{{ "<!-- Site Hero End -->" | safeHTML }}