{{ with .Site.Data.membership }}
{{ if .enable }}
<section class="site-team">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div>
                    <!-- Membership title and description -->
                    <h2 class="title-shadow" id="become-a-member">{{ .title }}</h2>
                    <p class="bigger_font mb-5">{{ .subtitle }}</p>
                    <h3>{{ .titleTwo }}</h3>
                    <p class="bigger_font mb-5">{{ .subtitleTwo }}</p>
                    {{ range .titleThree }}
                    <h3>{{ .name }}</h3>
                    <ul class="member_ul d-flex flex-column p-1 mb-0">
                    {{ range .points }}
                        <div class="pb-2 d-flex align-items-center">
                            <div class="li_bullet align-self-start" title="sparkles-bullet"></div>
                            <li>{{ . | markdownify }}</li>
                        </div>
                    {{ end }}
                    </ul>
                    {{ end }}
                </div>
            </div>
        </div>
    </div>
</section>
{{ end }}
{{ end }}
