{{ with .Params.partnership }}
{{ if .enable }}
<section class="site-team">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div>
                    <!-- Partnership title and description -->
                    <h2 class="title-shadow">{{ .title }}</h2>
                    <p class="bigger_font mb-5">{{ .subtitle }}</p>
                    <!-- We host and you host sections -->
                    {{ range .hosting_type }}
                    <h3 class="mt-5 mb-3">{{ .subsection_title }}</h3>
                    {{ range .points }}
                    <p class="bigger_font">{{ . }}</p>
                    {{ end }}
                    {{ end }}
                    {{ range .event_options }}
                    <h3 class="mt-5 mb-3">{{ .subsection_title }}</h3>
                    <ul class="member_ul d-flex flex-column p-1">
                        {{ range .points }}
                        <div class="pb-2 d-flex align-items-center">
                            <div class="li_bullet align-self-start" title="sparkles-bullet"></div>
                            <li class="linked-text__purple">{{ . | markdownify }}</li>
                        </div>
                        {{ end }}
                    </ul>
                    {{ end }}
                    {{ with .previous_partner_events }}
                    <h3 class="mt-5">{{ .subsection_title }} </h3>
                    <p class="bigger_font linked-text__purple mb-4">{{ .description | markdownify }}</p>
                    {{ end }}
                    {{ end }}
                    {{ end }}

                    <!-- Event Recaps -->
                    {{ with (site.GetPage "/").Params.portfolio.recaps }}
                    {{ if .enable }}
                        <div class="container">
                            <div class="row">
                                {{ $recap_posts := where (where (where site.RegularPages "Section" "portfolio") "Date" "<" now ) "Params.co_hosts" "!=" nil | first 3 }}
                                {{ range $recap_posts }}
                                <div class="col-lg-4 col-md-10">
                                    <div class="site-project-item">
                                        <a href="{{ .Permalink }}">
                                            <div class="site-project-item-thumb">
                                                <img src="{{ .Params.Image | absURL }}" alt="project-thumb">
                                            </div>
                                            <div class="site-project-item-content">
                                                <span>{{ .Params.event_type | upper }}</span>
                                                <h5>{{ .Title }}</h5>
                                                <a href="{{ .Permalink }}" class="read-more">{{ .Date.Format "January 2, 2006" }}</a>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            {{ end }}

                        </div>
                </div>
{{ end }}
{{ end }}
</div>
</div>
</div>
</div>
</section>
