{{ with .Site.Data.partnership }}
{{ if .enable }}
<section class="site-team">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title">
                    <!-- Partnership title and description -->
                    <h2>{{ .title }}</h2>
                    <p>{{ .subtitle }}</p>
                    <!-- We host and you host sections -->
                    {{ range .hosting_type }}
                    <h3>{{ .subsection_title }}</h3>
                    {{ range .points }}
                    <p>{{ . }}</p>
                    {{ end }}
                    {{ end }}
                    {{ range .event_options }}
                    <h3>{{ .subsection_title }}</h3>
                    {{ $icon := .icon}}
                    {{ range .points }}
                    <img src="{{ $icon | absURL }}" alt="sparkles-bullet">
                    <p>{{ . }}</p>
                    {{ end }}
                    {{ end }}
                </div>
            </div>
        </div>
    </div>
</section>
{{ end }}
{{ end }}