<!-- Upcoming Events -->
{{ with .Site.Params.portfolio_upcoming }}
  {{ if .enable }}
  <section class="site-project white__bg--opposite" id="project">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="section-title">
            <h2 class="black__color--light-purple">{{ .title }}</h2>
          </div>
        </div>
        {{ $upcoming_posts := where (where site.RegularPages "Section" "portfolio" ) "Date" ">" now | first 3 }}
        {{ if gt ($upcoming_posts | len) 0 }}
        {{ range $upcoming_posts }}
        <div class="col-lg-4 col-md-10">
          <div class="site-project-item">
            <a href="{{ .Permalink }}">
            <div class="site-project-item-thumb">
              <img src="{{ .Params.Image | absURL }}" alt="project-thumb">
            </div>
            <div class="site-project-item-content main-gradient">
              <span>{{ delimit .Params.category ", " }}</span>
              <h4>{{ .Title }}</h4>
              <a href="{{ .Permalink }}" class="read-more">{{ .Date.Format "January 2, 2006" }}</a>
            </a>
            </div>
          </div>
        </div>
        {{ end }}
        {{ else }}
        <div class="col-12 text-center">
          <h4 class="black__color--opposite">Stay tuned for more events!</h4>
        </div>
        {{ end }}
        <div class="col-12 text-center text-lg-right linked-text__white--blue">
          <a href="calendar" class="site-project-cta">FULL CALENDAR >></a>
        </div>
      </div>
    </div>
  </section>
  {{ end }}
{{ end }}

<!-- Event Recaps -->
{{ with .Site.Params.portfolio_recaps }}
  {{ if .enable }}
  <section class="site-project white__bg--opposite" id="project">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="section-title">
            <h2 class="black__color--light-purple">{{ .title }}</h2>
          </div>
        </div>
        {{ $recap_posts := where (where site.RegularPages "Section" "portfolio" ) "Date" "<" now | first 3 }}
        {{ if gt ($recap_posts | len) 0 }}
        {{ range $recap_posts }}
        <div class="col-lg-4 col-md-10">
          <div class="site-project-item">
            <a href="{{ .Permalink }}">
              <div class="site-project-item-thumb">
                <img src="{{ .Params.Image | absURL }}" alt="project-thumb">
              </div>
              <div class="site-project-item-content main-gradient">
                <span>{{ delimit .Params.category ", " }}</span>
                <h4>{{ .Title }}</h4>
                <a href="{{ .Permalink }}" class="read-more">{{ .Date.Format "January 2, 2006" }}</a>
              </a>
            </div>
          </div>
        </div>
        {{ end }}
        {{ else }}
        <div class="col-12 text-center">
          <h4 class="black__color--opposite">Stay tuned for more events!</h4>
        </div>
        {{ end }}
        <div class="col-12 text-center text-lg-right linked-text__white--blue">
          <a href="portfolio" class="site-project-cta">SEE MORE >></a>
        </div>
      </div>
    </div>
  </section>
  {{ end }}
{{ end }}
