<!-- Upcoming Events -->
{{ with .Site.Params.portfolio_upcoming }}
  {{ if .enable }}
  <section class="site-project white__bg--opposite" id="project">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="section-title">
            <h2>{{ .title }}</h2>
          </div>
        </div>
        {{ range first 3 (where $.Site.RegularPages "Type" "upcoming-event") }}
        <div class="col-lg-4 col-md-10">
          <div class="site-project-item">
            <a href="{{ .Permalink }}">
            <div class="site-project-item-thumb">
              <img src="{{ .Params.Image | absURL }}" alt="project-thumb">
            </div>
            <div class="site-project-item-content">
              <span>{{ delimit .Params.category ", " }}</span>
              <h4>{{ .Title }}</h4>
              <a href="{{ .Permalink }}" class="read-more">view project</a>
            </a>
            </div>
          </div>
        </div>
        {{ end }}
        <div class="col-12 text-center text-lg-right linked-text__white--blue">
          <a href="portfolio" class="site-project-cta">FULL CALENDAR >></a>
        </div>
      </div>
    </div>
  </section>
  {{ end }}
{{ end }}

<!-- Event Recaps -->
{{ with .Site.Params.portfolio_recaps }}
  {{ if .enable }}
  <section class="site-project white__bg--opposite" id="project">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="section-title">
            <h2>{{ .title }}</h2>
          </div>
        </div>
        {{ range first 3 (where $.Site.RegularPages "Type" "event-recap") }}
        <div class="col-lg-4 col-md-10">
          <div class="site-project-item">
            <a href="{{ .Permalink }}">
              <div class="site-project-item-thumb">
                <img src="{{ .Params.Image | absURL }}" alt="project-thumb">
              </div>
              <div class="site-project-item-content">
                <span>{{ delimit .Params.category ", " }}</span>
                <h4>{{ .Title }}</h4>
                <a href="{{ .Permalink }}" class="read-more">view project</a>
              </a>
            </div>
          </div>
        </div>
        {{ end }}
        <div class="col-12 text-center text-lg-right linked-text__white--blue">
          <a href="portfolio" class="site-project-cta">SEE MORE >></a>
        </div>
      </div>
    </div>
  </section>
  {{ end }}
{{ end }}
