{{ with .Site.Data.team }}
  {{ if .enable }}
  <section class="site-team">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="section-title">
            <h2>
              {{ .titleOne }}
            </h2>
            <p> {{ .subtitleOne }}</p>
          </div>
        </div>
        {{ range .eboard_members }}
        <div class="col-lg-4 col-md-6">
          <div class="site-team-member">
            <div class="site-team-member-image">
              <img src="{{ .image | absURL }}" alt="team-member">
            </div>
            <div class="site-team-member-content">
              <h3>{{ .name }}</h3>
              <p>{{ .designation }}</p>
              <ul class="site-team-member-social">
                {{ $socials := .socials }}
                {{ if gt ($socials) 0 }}
                  {{ range $social_key, $social_val := $socials}}
                  <li class="linked-text__white--purple"><a href="{{ $social_val | safeURL }}"><i class="fa fa-{{ $social_key }}"></i></a></li>
                  {{ end }}
                {{ end }}
              </ul>
            </div>
          </div>
        </div>
        {{ end }}
      </div>
    </div>
  </section>
  <section class="site-team">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="section-title">
            <h2>
              {{ .titleTwo }}
            </h2>
            <p> {{ .subtitleTwo | markdownify }}</p>
          </div>
        </div>
        {{ range .web_team_members }}
        <div class="col-lg-4 col-md-6">
          <div class="site-team-member">
            <div class="site-team-member-image">
              <img src="{{ .image | absURL }}" alt="team-member">
            </div>
            <div class="site-team-member-content">
              <h3>{{ .name }}</h3>
              <p>{{ .designation }}</p>
              <ul class="site-team-member-social">
                {{ $socials := .socials }}
                {{ if gt ($socials) 0 }}
                  {{ range $social_key, $social_val := $socials}}
                  <li class="linked-text__white--purple"><a href="{{ $social_val | safeURL }}"><i class="fa fa-{{ $social_key }}"></i></a></li>
                  {{ end }}
                {{ end }}
              </ul>
            </div>
          </div>
        </div>
        {{ end }}
      </div>
    </div>
  </section>
  {{ end }}
{{ end }}
