{{ define "main" }}

<section class="site-project-header">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-12">
        <div class="site-project-header-content">
          <h1>
            {{ .Title | safeHTML }}
          </h1>
          <iframe src="https://calendar.google.com/calendar/embed?height=800&wkst=1&bgcolor=%23ffffff&ctz=America%2FNew_York&showTitle=0&showDate=1&showNav=0&showTabs=0&showPrint=0&src=OW11b3ZmZHU0MWlpZjVvM2kybjIxNGltcjBAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&color=%23E67C73" style="border:solid 1px #777" width="1000" height="800" frameborder="0" scrolling="no"></iframe>        </div>
      </div>
    </div>
  </div>
</section>

{{ end }}