{{ define "main" }}
{{ with .Params.info }}
<section class="site-project-header">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-12">
        <div class="site-project-header-content">
          <h1 class="span_color">
            {{ .page_title | safeHTML }}
          </h1>
          <br><br>
          <div class="section-title">
          
          {{ if .enable }}
          <h2 class="title-shadow">{{ .upcoming_events.title }}</h2>
          <p class="bigger_font mb-4 linked-text__purple"> {{ .upcoming_events.text | markdownify }} </p>

          <iframe
            src="{{ .link }}"
            style="border:solid 1px #777" width="100%" height="800" frameborder="0" scrolling="no"></iframe>
        </div>
      </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-12">
        <div class="section-title">
          <!-- Subsection for Missed Events begin -->
          <h2 class="title-shadow">{{ .missed_event.title }}</h2>
          <p class="bigger_font linked-text__purple mb-5"> {{ .missed_event.text | markdownify }} </p>
          <!-- Subsection for Virtual Events begin -->
          <h2 class="title-shadow calendar-section" id="virtual-events">{{ .virtual_events.title}}</h2>
          <p class="bigger_font linked-text__purple mb-5">{{ .virtual_events.text | markdownify }}</p>
          <!-- Subsection for in person Events begin -->
          <h2 class="title-shadow calendar-section" id="in-person-events">{{ .inPerson_events.title}}</h2>
          <p class="bigger_font linked-text__purple mb-5">{{ .inPerson_events.text | markdownify }}</p>
          <!-- Subsection for Important Notes begin -->
          {{ with .important_notes }}
          <h2 class="title-shadow calendar-section" id="important-notes">{{ .title }}</h2>
          {{ range .description }}
          <p class="bigger_font linked-text__purple"> {{ . | markdownify }}</p>
          {{ end }}
          {{ $icon := .icon }}
          <ul class="member_ul d-flex flex-column p-1">
            {{ range .points }}
            <div class="pb-2 d-flex align-items-center">
              <div class="li_bullet align-self-start" title="sparkle-bullet"></div>
              <li>{{ . }}</li>
            </div>
            {{ end }}
          </ul>
          <p class="bigger_font" >{{ .notes_text }}</p>
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}
{{ end }}

{{ end }}
